.About{
    width: 70%;
    font-size: 25px;
    text-align: center;
    line-height: 2.2rem;
    color: #444444;
    height: 180px;
    margin: 5px auto;
}
.read{
    padding: 15px 30px;
    border-radius: 5px;
    pointer-events:fill;
    border: .5px solid #444444;
    color: #444444;
}
.det{
    width:100%;
    display: flex;

}

.meat{
    width:50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.money{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.amounts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 25px;
    color: #444444;
    margin: 15px auto 0px;
}
.ab{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.details{
    width: 45%;
}
.ab img{
    border-radius: 15px;
}
.who{
    margin-bottom: 20px;
    font-size: 3rem;
    color: #444444;
    width: 100%;
    text-align: center;

}
.three{
    justify-content: space-evenly
}
.three img{
    width: 90px;

}
.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 110px;
}
.icon-box p{
    font-size: 1.3rem;
}
@media (min-width : 550px) and (max-width:800px) {


    #nig .About{
        height: 300px;
        width: 100%;
    }
    .ab p{
        width: 100%;
    }
    .ff{
        display: block;
    }
    #map{
        width: 100%;
    }
    p{
        text-align: center;
    }
    .icon-box p{
        font-size: .9rem;
    }
    .t div p{
        font-size: .9rem;
    }
    #f{
        padding: 6px;
    }
    .who{
        text-align: center;
    }

}
@media (min-width:100px)and (max-width :549px) {
   #nig .About {
    font-size: 18px;
       height: 350px;
       text-align: center;
   }
}