
.who{
    margin-bottom: 20px;
    font-size: 3rem;
    color: #444444;
    width: 100%;
    text-align: center;
}
.three{
    justify-content: space-evenly;
}
.three img{
    width: 80px;

}
.del .icon-box{
    padding-left: 20px;
    display: flex; 
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.icon-box p{
    font-size: 1.3rem;
}
.del div {
    width: 290px;
    text-align: center;
}
@media (min-width : 550px) and (max-width:1000px) {
    .del .icon-box{
        width: 150px;
    }
    .icon-box p{
        font-size: .9rem;
    }
    .t div p{
        font-size: .9rem;
    }
    #f{
        padding: 6px;
    }
    .who{
        text-align: center;
    }
}
@media (min-width:100px)and (max-width :549px) {
    .del .icon-box{
        width: 120px;
        padding-left: 5px;
    }
    .ff{
        display: block;
    }
    #map{
        width: 100%;
    }
    .ab p{
        width: 100%;
    }
    .t div p{
        font-size: .55rem;
        width: 80%;
    }
    #f{
        padding: 3px;
    }
    #cont{
        padding: 8px;
    }
    .tabs a{
        font-size: .8rem;
    }
    .icon-box p{
        width: 80px;
        font-size: .75rem;
    }
}